<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBTYPE" value="MSSQL" />
    <add key="TNS" value="D:\program files\Oracle\tnsnames.ora" />
    <add key="Output" value="E:\数据库表建模版\生成文件" />
    <add key="Oracle_Database" value="PANDORADB" />
    <add key="Oracle_Username" value="nxt" />
    <add key="Oracle_Password" value="nxt123" />
    <add key="MsSql_Alias" value="(local)" />
    <add key="MsSql_Server" value="(local)" />
    <add key="MsSql_Database" value="" />
    <add key="MsSql_Username" value="sa" />
    <add key="MsSql_Password" value="198822" />
  </appSettings>
</configuration>